aiohttp!=3.7.*
aiohttp-security
aiohttp-session
asyncio_glib #no supported version :( see dasbus
bitarray  # TODO: remove
dasbus #needs to be --break - ified
evdev
hid-tools==0.5
mypy==1.14.0 #might need to be downgraded 
PyGObject
pyudev
watchfiles
